main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    
}

.conten{
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    justify-content: center;  /* Centra verticalmente los elementos*/
    align-items: center; /* Centra horizontalmente los elementos*/
    max-width: 90%;
    margin: 0 auto;

}

button{
    margin-top: 10px;
}

h1, p{
    text-align: center;
    margin-top: 20px;
}

img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
 
}